{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">List of Companies</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Sector</th>
              <th scope="col">Siren</th>
              <th scope="col">CA</th>
              <th scope="col">Margin</th>
              <th scope="col">Ebitda</th>
              <th scope="col">Loss</th>
              <th scope="col">Year</th>
            </tr>
          </thead>
          <tbody>
              {% for company in companies %}
                <tr>
                  <th scope="row"> {{ company.id }} </th>
                  <td> {{ company.name }} </td>
                  <td> {{ company.sector }} </td>
                  <td> {{ company.siren }} </td>
                  {% for result in company.results.all() %}
                    <td> {{ result.ca }} </td>
                    <td> {{ result.margin }} </td>
                    <td> {{ result.ebitda }} </td>
                    <td> {{ result.loss }} </td>
                    <td> {{ result.year }} </td>
                  {% endfor %}
                </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>        
</div>
{% comment %} <div class='row justify-content-center'>
  <div class='col-md-12'>
    <div class="pagination">
      <div class="step-links">
        {% if results.has_previous %}
            <a href="?page={{ results.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}">next</a>
        {% endif %}
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% endblock content %}